<h1>Produtos:</h1>

<div class="products">
    {{#each products}}
        <div class="product">
            <img src="{{this.image}}" alt="{{this.name}}" width="100px" height="100px">
            <h3>Nome: {{this.name}}</h3>
            <p>Preço R$: {{this.price}}</p>
            <div class="actions">
                <a href="/products/{{this._id}}">Detalhes</a>
            </div>
        </div>
    {{/each}}
</div>